main {
	/*
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-flow: column nowrap;
*/
}

h1 {
	font-size: 1.8rem;
}

#chartdiv {
  width: 100%;
  height: 100%;
}
.title {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2% 10%;

}

.table-content {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2% 10%;
}
